[Desktop Entry]
Name=SDR++
Comment=Cross-Platform SDR Software
Exec=sdrpp
Icon=org.sdrpp.App
Terminal=false
Type=Application
Categories=Audio;HamRadio;
Keywords=sdr;radio;rtl-sdr;hackrf;airspy;
