name: Flatpak Build

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  flatpak:
    name: "Build Flatpak"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-24.08
      options: --privileged
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: org.sdrpp.App.flatpak
          manifest-path: org.sdrpp.App.yaml
          cache-key: flatpak-builder-${{ github.sha }}

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Delete existing release
        uses: dev-drprasad/delete-tag-and-release@v1.1
        with:
          tag_name: nightly
          github_token: ${{ secrets.GITHUB_TOKEN }}
          delete_release: true
        continue-on-error: true

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: nightly
          name: "Nightly Build (${{ steps.date.outputs.date }})"
          files: org.sdrpp.App.flatpak
          body: |
            **Build Date:** ${{ steps.date.outputs.date }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
